.jumbotron h1 {
  font-size:80px;
  font-weight:800;
  text-align:bottom;
  color:#0063db;
}
.jumbotron img {
  position: relative;
  top: 50%;
  transform: translateY(-16%);
}

.jumbotron {
  background-color:#f6f6f6;
}

.jumbotron input[type="text"] {
  margin-right:10px;
  width:300px;
  height:35px;
}
